<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">



        <li>@Html.ActionLink("Alunos", "Index", "Aluno")</li>
        <li>@Html.ActionLink("Cursos", "Index", "Curso")</li>
        <li>@Html.ActionLink("Professores", "Index", "Professor")</li>
        <li>@Html.ActionLink("Departamentos", "Index", "Departamento")</li>


        @*<li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>*@

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Templates <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Template/Basico">Básicos</a></li>
                <li><a href="/Template/Intermediario">Intermediários</a></li>
                <li><a href="/Template/Avancado">Avançados</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Temas:</li>
                <li><a href="#">Amélia</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li><a href="#">Cyborg</a></li>
                <li><a href="#">Cosmo</a></li>
                <li><a href="#">Darkly</a></li>
                <li><a href="#">Superhero</a></li>
               
                
            </ul>
        </li>
    </ul>
</div><!--/.nav-collapse -->