@model Universidade.Contoso.Dominio.Entidades.Course

@{
    ViewBag.Title = "UpdateCourseCredits";
    Layout = "~/Views/Shared/" + ViewBag.Tema + ".cshtml";
}


<div class="container jumbotron">
    <h2>Update Course Credits</h2>
    @if (ViewBag.RowsAffected == null)
    {
        using (Html.BeginForm())
        {
            <p>
                Enter a number to multiply every course's credits by: @Html.TextBox("multiplier")
            </p>
            <p>
                <input type="submit" value="Update" />
            </p>
        }
    }
    @if (ViewBag.RowsAffected != null)
    {
        <p>
            Number of rows updated: @ViewBag.RowsAffected
        </p>
    }
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>